/* *{
    margin: 0px;
    padding: 0px;
} */
body {

    background-image: linear-gradient(to right, rgb(255, 255, 144), pink);
}

.cont {
    text-align: center;
    box-shadow: 1px 1px 8px gray;
    height: 400px;
    width: 27%;
    border-radius: 20px;
    
    margin-left: 36.5%;
    margin-top: 100px;

    background-image: linear-gradient(to left, rgb(239, 239, 108), rgb(251, 164, 178))
}

.main {
    text-align: center;
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin-left: 13%;
}

.item {
    text-align: center;
    margin: 12px;
    background-image: linear-gradient(to bottom right, skyblue, pink);
    box-shadow: 1px 1px 8px gray;
    width: 22%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn {

    margin: 12px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    margin-left: 1rem;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 144), pink);
    
}
#tic{
    margin-top: 6.5px;
}

/* 
@media only screen and (max-width: 850px) {
    .cont {
        
        margin-left: 240px;
    }
} */

@media only screen and (max-width: 450px) {
    .cont {
        height: 370px;
        width: 80%;
        
        margin-left: 10%;
        
    }
    .main {
        text-align: center;
        margin-left: 13%;
    
        width: 80%;
        
        
      }
      
        
    .item{
        margin-left: 4%;
        
        text-align: center;
      }
}
        
        